<div id="<%= dom_id celebrity %>">
  <p>
    <strong>Name:</strong>
    <%= celebrity.name %>
  </p>

  <p>
    <strong>Photo url:</strong>
    <%= celebrity.photo_url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= celebrity.user_id %>
  </p>

</div>
