<h1>Editing celebrity</h1>

<%= render "form", celebrity: @celebrity %>

<br>

<div>
  <%= link_to "Show this celebrity", @celebrity %> |
  <%= link_to "Back to celebrities", celebrities_path %>
</div>
