

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dfipoufmj/image/upload/v1682015896/pexels-vishnu-r-nair-1105666_ymoud6.jpg);">
  <div class="photo-container">
    <h1>Upload a Photo</h1>
    <%= render "form", photo: @photo %>
    <%# <button class="button">
      <%= link_to "Back to photos", api_v1_photos_path %>
    <%# </button> %>
  </div>
</div>
