<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dfipoufmj/image/upload/v1682014739/pexels-marcin-dampc-1684187_fsnjod.jpg);">
  <div class="photo-container">
    <h1>Upload a Photo</h1>
    <%= render "form", photo: @photo %>
  </div>
</div>
