.navbar {
  justify-content: space-between;
  position: absolute;
  width: 100vw;
  background: transparent;
  color: white;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.navbar-nav {
  display: flex;
  margin: initial;
}

.navbar-container {
  flex-grow: 0;
  display: flex;
}

p.nav-link {
  color: black;
  padding: 8px;
  font-size: 16px;
  margin: 0;
}

a.nav-link {
  color: black;
  padding: 8px;
  font-size: 16px;
  margin: 0;
}
